<with-breadcrumb [breadcrumb]="breadcrumb">

  <segment header="การคัดเลือกราย สำหรับผู้ดูแลระบบ (TA0109)" [loading]="loading" [right]="true">
    <div headRight>
      <app-button-custom icon="sort" color="grey" [text]="toggleButtonTxt" (click)="toggleBody()">
      </app-button-custom>
    </div>
    <div class="ui form">

      <form form [formGroup]="formGroup">
        <div inline>
          <div field [col]="11">

          </div>
          <div field [col]="2">
            <label class="text-right full-width">ปีงบประมาณ</label>
          </div>
          <div field [col]="3">
            <select class="ui fluid dropdown full-width" (change)="budgerYearChange($event)" id="budgetYear"
              formControlName="budgetYear">
              <option *ngFor="let item of budgetYearList" value="{{item}}">{{item}}</option>
            </select>
          </div>

        </div>
        <div inline>
          <div field [col]="3">
            <label class="text-right full-width">ช่วงเดือนภาษี</label>
          </div>
          <div field [col]="4">
            <input class="custom-readonly" id="before" value="มกราคม 2561" placeholder="ดด/ปปปป" readonly="" type="text"
              value="{{objMonth.yearMonthStart}}">
            ถึง&nbsp;&nbsp;&nbsp;
            <input class="custom-readonly" id="last" value="มกราคม 2563" placeholder="ดด/ปปปป" readonly="" type="text"
              value="{{objMonth.yearMonthEnd}}">
          </div>
          <div field [col]="2">
            <label class="text-right full-width">เลขทะเบียนสรรพสามิต</label>
          </div>
          <div field [col]="2">
            <input id="newRegId" formControlName="newRegId">
          </div>
          <div field [col]="2">
            <label class="text-right full-width">เลขที่รายการคัดเลือกราย</label>
          </div>
          <div field [col]="3">
            <select class="ui fluid dropdown full-width" (change)="analysisChange($event)" id="analysisNumber"
              formControlName="analysisNumber" disabled>
              <option *ngFor="let item of analysisList" value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
        <div inline>

          <div field [col]="3"><label class="text-right full-width">เงื่อนไขคัดเลือก</label></div>
          <div field [col]="4">
            <select class="ui fluid dropdown full-width" formControlName="cond" id="cond"
              (change)="onChangeCond($event.target.value)" multiple="">
              <!-- <option value="all">เลือกทั้งหมด</option> -->
              <option value="1">เงื่อนไขที่ 1</option>
              <option *ngFor="let item of condGroupDtl" value="{{item.condGroup}}">เงื่อนไขที่
                {{item.condGroup}}</option>
              <option value="0">รายที่ไม่อยู่ในเงื่อนไข</option>
            </select>
          </div>
          <div field [col]="2">
            <label class="text-right full-width"> ประเภทสินค้า/บริการ </label>
          </div>
          <div field [col]="2">
            <select class="ui dropdown full-width" id="facType" (change)="onChangeFacType($event)"
              formControlName="facType">
              <option value="">ทั้งหมด</option>
              <option value="0">ทั้งหมด</option>
              <option *ngFor="let item of facTypeList" value="{{item.paramCode}}">{{item.value1}}</option>
            </select>
          </div>
          <div field [col]="2">
            <label class="text-right full-width">พิกัด </label>
          </div>
          <div field [col]="3" class="ui calendar">
            <select class="ui  dropdown full-width" id="dutyCode" formControlName="dutyCode">
              <option value="">ทั้งหมด</option>
              <option value="0">ทั้งหมด</option>
              <option *ngFor="let item of dutyCodeList" value="{{item.dutyGroupCode}}">{{item.dutyGroupName}}
              </option>
            </select>
          </div>
        </div>

        <div inline></div>
        <hr>
        <div inline></div>
        <div inline>
          <div field [col]="3">
            <label class="text-right full-width"> <label class="text-right full-width">
              กองกำกับและตรวจสอบภาษีส่วนกลาง</label>&nbsp;<input type="radio" name="assingType" value="0"
                (change)="onChangeAssignType($event)" checked> </label>
          </div>

          <div field [col]="4">
            <select class="ui dropdown full-width" id="cental" formControlName="cental"
              (change)="onChangeCental($event)">
              <option value="">ทั้งหมด</option>
              <option value="0">ทั้งหมด</option>
              <option *ngFor="let item of taxDepartment" value="{{item.officeCode}}">{{item.deptShortName}}
              </option>
            </select>
          </div>
          <div field [col]="2">
            <label class="text-right full-width"> <label class="text-right full-width">
                สำนักงานสรรพสามิตภาค</label>&nbsp;<input type="radio" name="assingType" value="1"
                (change)="onChangeAssignType($event)"></label>
          </div>
          <div field [col]="3">
            <select class="ui dropdown full-width" id="sectorAssing" (change)="onChangeSector($event)"
              formControlName="sector">
              <option value="">ทั้งหมด</option>
              <option value="0">ทั้งหมด</option>
              <option *ngFor="let item of sectors" value="{{item.officeCode}}">{{item.deptName}}</option>
            </select>
          </div>
          <div field [col]="1">
            <label class="text-right full-width">พื้นที่</label>
          </div>
          <div field [col]="3">
            <select class="ui dropdown full-width" id="areaAssign" formControlName="area">
              <option value="">ทั้งหมด</option>
              <option value="0">ทั้งหมด</option>
              <option *ngFor="let item of areas" value="{{item.officeCode}}">{{item.deptShortName}}</option>
            </select>
          </div>
        </div>

        <div *ngIf="showBody">
          <div inline>
            <div field [col]="3"></div>
            <div field [col]="13" class="text-right full-width"><b>เงื่อนไขหลักในการกวาดข้อมูล</b></div>
          </div>
          <div inline>
            <div field [col]="3"></div>
            <div field [col]="13">
              <div form>
                <div field *ngFor="let item of condDtlText">
                  <div field [col]="16">
                    <label>เงื่อนไขที่ {{item.condGroup}} {{item.condDtlDesc}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div inline>
              <div field [col]="3"></div>
              <div field [col]="13" class="text-right full-width"><b>หมายเหตุ ประวัติการตรวจสอบภาษี (เงื่อนไขที่ 1)</b></div>
            </div>
    <div inline>
        <div field [col]="3"></div>
        <div field [col]="13">
          <div form>
            <div field class="let item of condDtlText">
              
              <div field [col]="16">
                <label>ส1-3 &nbsp;&nbsp;&nbsp;หมายถึง ส่วนกำกับและตรวจสอบภาษี 1-3 กองกำกับและตรวจสอบภาษีสรรพสามิต เป็นผู้ตรวจ</label>
              </div>
            </div>
            <div field class="let item of condDtlText">
                <div field [col]="16">
                  <label>ภ1-10 &nbsp;หมายถึง หน่วยงานในสังกัด สำนักงานสรรพสามิตภาคที่ 1- 10  เป็นผู้ตรวจ</label>
                </div>
            </div>
            <div field class="let item of condDtlText">
                <div field [col]="16">
                  <label>ผ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หมายถึง รายงานตามแผน</label>
                </div>
            </div>
            <div field class="let item of condDtlText">
                <div field [col]="16">
                  <label>อ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หมายถึง รายอื่นนอกแผน</label>
                </div>
            </div>
            <div field class="let item of condDtlText">
                <div field [col]="16">
                  <label>59-61&nbsp;&nbsp;หมายถึง ปีงบประมาณที่ตรวจเสร็จ</label>
                </div>
            </div>
            <div field class="let item of condDtlText">
                <div field [col]="16">
                  <label>ป&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หมายถึง ผลการตรวจมีการชำระภาษีเพิ่มเติม</label>
                </div>
            </div>
            <div field class="let item of condDtlText">
                <div field [col]="16">
                  <label>x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หมายถึง ผลการตรวจไม่มีการชำระภาษีเพิ่มเติม</label>
                </div>
            </div>
              
          </div>
        </div>
      </div>
          <!-- ซ่อน เงื่อนไขในการคัดกรองเพิ่มเติม -->
          <div hidden>
            <!-- ซ่อน เงื่อนไขในการคัดกรองเพิ่มเติม -->
            <div inline>
              <div field [col]="4">
                <b class="text-right full-width">เงื่อนไขในการคัดกรองเพิ่มเติม</b>
              </div>
            </div>
            <div inline>
              <div field [col]="4"></div>
              <div field [col]="1" style="margin-left: -28px !important;"><input type="checkbox" id="conSub1"
                  class="ui checkbox" [checked]="objMonth.condSubCapitalFlag != null" disabled></div>
              <div field [col]="11" style="margin-left: -30px !important;">
                <p>1 ขนาดของทุนจดทะเบียน</p>
              </div>
            </div>
            <div inline>
              <div field [col]="4"></div>
              <div field [col]="1" style="margin-left: -28px !important;"> <input type="checkbox" id="conSub2"
                  class="ui checkbox" [checked]="objMonth.condSubRiskFlag != null" disabled></div>
              <div field [col]="11" style="margin-left: -30px !important;">
                <p>2 ประเภทสินค้าและบริการที่มีความเสี่ยงในการหลีกเลี่ยงภาษี</p>
              </div>
            </div>
            <div inline>
              <div field [col]="4"></div>
              <div field [col]="1" style="margin-left: -28px !important;"><input type="checkbox" id="conSub3"
                  class="ui checkbox" [checked]="objMonth.condSubNoAuditFlag != null" disabled></div>
              <div field [col]="11" style="margin-left: -30px !important;">
                <p>3 ผู้เสียภาษีที่ไม่มีการตรวจกำกับดูแลมากกว่า 1 ปี</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="ui center aligned grid">
          <div class="eight wide column">
            <app-button-search (click)="search()"></app-button-search>
            <app-button-custom (click)="onSave()">บันทึกคัดเลือก</app-button-custom>
            <!-- <app-button-export (click)="export()"></app-button-export> -->
            <!-- <app-button-custom (click)="gotoDetail()">รายชื่อผู้ประกอบการที่เลือก</app-button-custom> -->
            <app-button-custom (click)="showUpload()">อัพโหลดรายชื่อผู้ประกอบการ</app-button-custom>
            <app-button-custom (click)="gotoDetail()">ตรวจสอบรายการคัดเลือก</app-button-custom>
            <app-button-custom (click)="onExport()" [color]="'yellow'" [icon]="'print'" text="Export"></app-button-custom>
          </div>
        </div>
      </form>
    </div>
  </segment>

  <segment header="" [loading]="loading" [hidden]="isShowPlan">
    <div class="ui grid">
      <div class="sixteen wide column">
        <!-- table -->
        <app-table-checked [datas]="datas" [recordTotal]="recordTotal" [objMonth]="objMonth" [checkbox]="true"
          [datasChecked]="datasChecked" [disabledCheckbox]="disabledButton" [showCondition]="true"
          [condGroupDtl]="condGroupDtl" [budgetYear]="budgetYearNumber" (pageChangeOutput)="pageChangeOutput($event)"
          (checkboxOutput)="checkboxOutput($event)">
          <!-- content left -->
          <div contentLeft>
            <div class="ui mini buttons">
              <button class="ui button" (click)="chnageNewRegIdFlag('N')" [ngClass]="{'active grey': newRegFlag=='N'}"
                style="border-radius: 0px">ข้อมูลตามเงื่อนไขคัดเลือก</button>
              <button class="ui button" (click)="chnageNewRegIdFlag('Y')" [ngClass]="{'active grey': newRegFlag=='Y'}"
                style="border-radius: 0px">จดทะเบียนรายใหม่</button>
            </div>
          </div>
          <!-- content right -->
          <div contentRight>
            <app-button-custom [icon]="'list alternate icon'" [color]="tableDetail.color" (click)="detailClick()"
              title="แสดงรายละเอียดเพิ่มเติม" style="border-radius: 0px"></app-button-custom>
          </div>
        </app-table-checked>
        <br>
      </div>
    </div>
  </segment>

  <segment header="" [loading]="loading" [hidden]="!isShowPlan">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui grid">
          <div class="sixteen wide column">
            <table class="ui small celled table nowrap striped selectable" style="width:100%" id="tablePlan">
              <thead class="text-center">
                <tr>
                  <th></th>
                  <th class="text-center">ลำดับ asd </th>
                  <th class="text-center"> เลขทะเบียนสรรพสามิต</th>
                  <th class="text-center">ชื่อผู้ประกอบการ</th>
                  <th class="text-center">พิกัด</th>
                  <th class="text-center">ภาค</th>
                  <th class="text-center">พื้นที่</th>
                  <th class="text-center">หน่วยงานที่คัดเลือก</th>
                </tr>
              </thead>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </segment>

  <div class="ui mini modal" id="modalTest">
    <div class="header" style="color:white;background:rgb(30, 131, 219);">
      แจ้งเตือน
    </div>
    <div class=" content">
      คัดเลือกรายสำเร็จ
    </div>
    <div class="actions">
      <app-button-custom class="deny" color="primary" icon="check icon" text="ตกลง"></app-button-custom>
    </div>
  </div>
</with-breadcrumb>

<ui-modal [id]="'uploadModal'" type="custom" size="small">
  <div class="header" style="color:white;background:rgb(30, 131, 219);">
    อัพโหลดรายชื่อผู้ประกอบการ
  </div>
  <div class=" content">
    <form form [formGroup]="uploadForm">
      <div class="content">
        <div class="ui form">
          <div class="inline fields">
            <div class="two wide field">
              <label>เลือกไฟล์</label>
            </div>
            <div class="nine wide field">
              <!-- <input type="file" (change)="onChangeUpload($event)"> -->
              <div class="ui fluid action input">
                <input type="file" id="file" accept=".xlsx" (change)="onChangeUpload($event)" formControlName="fileUpload"
                required>  
                <div class="ui button" (click)="infoUpload()"> <i class="info icon"></i></div>
              </div>
              <!-- <input type="file" id="file" accept=".xlsx" (change)="onChangeUpload($event)" formControlName="fileUpload"
                required>  -->
            </div> 
          </div>
        </div>
      </div>
      <div>
        <!-- <div class="ui center aligned grid">
         </div> -->
      </div>

    </form>
  </div>
  <div class="actions">
    <app-button-custom (click)="onUpload()">บันทึกรายที่เลือก</app-button-custom>
    <app-button-custom (click)="closeUpload()">ยกเลิก</app-button-custom>
  </div>

</ui-modal>



<!-- <ui-modal [id]="'riskModal'" type="custom" size="small">
    <div class="ui header">
      {{txtHead}}
    </div>
    <div class="content">
      <pre>{{txt}}</pre>
    </div>
    <div class="actions">
      <app-button-cancel class="deny"></app-button-cancel>
    </div>
  </ui-modal> -->

<ui-modal [id]="'loadData'" type="custom" size="small">
  <div class="ui header">
    ข้อมูลไฟล์ อัพโหลด
  </div>
  <div class="content">
    <table class="ui small celled table nowrap striped " style="width:100%">
      <thead class="text-center">
        <tr>
          <th class="text-center">ลำดับ</th>
          <th class="text-center"> เลขทะเบียนสรรพสามิต</th>
          <th class="text-center">รหัสสำนักงาน</th>
          <th class="text-center">ประเภทแผน</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploadList;let i = index">
          <td class="text-center">{{i+1}}</td>
          <td class="text-center">{{item.newRegId}}</td>
          <td class="text-center">{{item.officeCode}}</td>
          <td class="text-center">{{item.auditType}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="actions">
    <app-button-custom (click)="onSaveUpload()">บันทึก</app-button-custom>
    <app-button-cancel class="deny"></app-button-cancel>
  </div>

</ui-modal>


<ui-modal [id]="'uploadInfo'" type="custom" size="small">
  <div class="ui header">
    ตัวอย่าง ข้อมูลไฟล์ อัพโหลด
  </div>
  <div class="content">
    <table class="ui small celled table nowrap striped " style="width:100%">
      <thead class="text-center">
        <tr>
          <th class="text-center">ลำดับ</th>
          <th class="text-center"> เลขทะเบียนสรรพสามิต</th>
          <th class="text-center">รหัสสำนักงาน</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td class="text-center">1</td>
          <td class="text-center">1234567890</td>
          <td class="text-center">010000</td>
        </tr>
        <tr >
          <td class="text-center">2</td>
          <td class="text-center">1234567891</td>
          <td class="text-center">010100</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <app-button-custom (click)="backUpload()">กลับ</app-button-custom>
    <app-button-custom class="deny">ยกเลิก</app-button-custom>
  </div>

</ui-modal>

<ui-modal [id]="'exportModal'" type="custom" size="tiny">
  <div class="ui header">
    เลือกการ Export
  </div>
  <div class="content">
      <!-- <div class="ui form"> -->
            <div inline>
              <div field [col]="3" class="text center "></div>
              <div field [col]="6" class="text center " style="text-align: center;">
                  <app-button-custom (click)="exportSelect()" [color]="'blue'" [icon]="'print'" text="Export รายที่เลือก"></app-button-custom>
                  <app-button-custom (click)="exportNonSelect()" [color]="'blue'" [icon]="'print'" text="Export รายที่ไม่ถูกเลือก"></app-button-custom>
              </div>
            </div>
          <!-- </div> -->

  </div>
  <div class="actions">
    <app-button-custom class="deny">ยกเลิก</app-button-custom>
  </div>

</ui-modal>