<segment header="หนังสือแจ้งประเมินภาษีสรรพสามิต (ตส. ๐๑-๑๘)" [loading]="loading" [right]="true" s>
  <div headRight [formGroup]="formGroup">
    {{formGroup.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formGroup">
    <div inline>
      <div field [col]="3">
        <label class="text-right full-width">เลขที่ใบแจ้งการประเมินภาษีสรรพสามิต ที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="bookNumber1" id="bookNumber1" maxlength="20">
        <label style="margin-right: 1em;"> / </label>
        <input type="text" formControlName="bookNumber2" id="bookNumber2" maxlength="20">
      </div>
      <div field [col]="1">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">วันที่แจ้งการประเมิน :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarDocDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="docDate" id="docDate" placeholder="วว ดดดด ปปปป" [attr.required]="true"
              autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อผู้มีหน้าที่เสียภาษี :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="ownerFullName" id="ownerFullName" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ประเภทกิจการ :</label>
      </div>
      <div field [col]="6">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" id="factoryType" value="1">
          <label>โรงอุตสาหกรรม</label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" id="factoryType" value="2">
          <label>สถานบริการ</label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" id="factoryType" value="3">
          <label>สถานประกอบการผู้นำเข้า</label>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">เลขทะเบียนสรรพสามิต :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="newRegId" id="newRegId" maxlength="17">
      </div>
      <div field [col]="1">
        <app-button-custom [icon]="'search'" (click)="searchNewRegId()"></app-button-custom>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อโรงอุตสาหกรรม/<br>สถานบริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryName" id="factoryName" maxlength="200">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ที่อยู่โรงอุตสาหกรรม/<br>สถานบริการ :</label>
      </div>
      <div field [col]="14">
        <textarea formControlName="factoryAddress" id="factoryAddress" rows="2" maxlength="200"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ที่อยู่สำนักงานตาม<br>หนังสือรับรองกระทรวง<br>พาณิชย์ :</label>
      </div>
      <div field [col]="14">
        <textarea formControlName="companyAddress" id="companyAddress" rows="2" maxlength="200"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">อาศัยอำนาจตาม<br>ความในมาตรา :</label>
      </div>
      <div field [col]="2">
        <input type="text" formControlName="lawSection" id="lawSection" maxlength="10">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">หมวด :</label>
      </div>
      <div field [col]="2">
        <input type="text" formControlName="lawGroup" id="lawGroup" maxlength="10">
      </div>
      <div field [col]="8">
        <label class="text-left full-width">แห่งพระราชบัญญัติภาษีสรรพสามิต พ.ศ. ๒๕๖๐  จึงขอแจ้งการประเมินภาษีสรรพสามิตเพิ่มเติม</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ระยะเวลาที่ตรวจสอบ :</label>
      </div>
      <div field [col]="5">
        <div class="ui calendar" style="width: 100%" id="calendarAuditDateStart">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="auditDateStart" id="auditDateStart" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
        <label class="text-center" style=" width:30%">ถึง</label>
        <div class="ui calendar" style="width: 100%" id="calendarAuditDateEnd">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="auditDateEnd" id="auditDateEnd" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">เป็นจำนวนเงิน :</label>
      </div>
      <div field [col]="2">
        <input type="text" formControlName="sumAllTaxAmt" id="sumAllTaxAmt" maxlength="18">
      </div>
      <div field [col]="5">
        <label class="text-left full-width">บาท (ตัวอักษร) xxxx บาท</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ให้ท่านชำระภาษี ณ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="officeName" id="officeName" maxlength="100">
      </div>
      <div field [col]="8">
        <label class="text-left full-width">ภายใน ๓๐ วัน นับแต่วันที่ได้รับแจ้งการประเมินภาษีสรรพสามิต ดังรายละเอียดต่อไปนี้</label>
      </div>
    </div>
  </form>
  <div form [formGroup]="formGroup">
    <div inline>
      <div field [col]="16">
        <table class="ui celled table small scrollX" id="table">
          <thead class="text-center">
            <tr>
              <th>
                พิกัดประเภทที่ สินค้า/บริการ<br>
                <input type="text" formControlName="tableHeaderDutyType" id="tableHeaderDutyType" maxlength="100">
              </th>
              <th style="min-width: 150px !important;">
                จำนวนสินค้า หน่วย<br>
                <input type="text" formControlName="tableHeaderUnit" id="tableHeaderUnit" maxlength="100">
              </th>
              <th style="min-width: 150px !important;">รวมมูลค่าทั้งสิ้น</th>
              <th style="min-width: 150px !important;">อัตราภาษี</th>
              <th style="min-width: 150px !important;">ภาษีที่ต้องชำระ</th>
              <th>เบี้ยปรับ ตาม ม.๑๔๐</th>
              <th>เงินเพิ่ม ตาม ม.๑๔๑</th>
              <th style="min-width: 150px !important;">รวม (๑)</th>
              <th style="min-width: 150px !important;">สสส.</th>
              <th style="min-width: 150px !important;">สสท.</th>
              <th style="min-width: 150px !important;">กกท.</th>
              <th style="min-width: 150px !important;">อื่นๆ</th>
              <th style="min-width: 150px !important;">รวม (๒)</th>
              <th>ภาษีเพื่อราชการ ส่วนท้องถิ่น ตาม ม.๑๕๐</th>
              <th>รวมภาษีที่ต้อง ชำระทั้งสิ้น</th>
              <th></th>
            </tr>
          </thead>
          <tbody formArrayName="taFormTS0118DtlVoList">
            <ng-container *ngIf="formGroup.controls">
              <tr [formGroupName]="i" *ngFor="let item of formGroup.controls.taFormTS0118DtlVoList.controls; let i = index;">
                <td><input type="text" formControlName="dutyTypeText" id="dutyTypeText" maxlength="100"></td>
                <td><input type="text" formControlName="goodsQty" id="goodsQty" maxlength="15" numberOnly></td>
                <td><input type="text" formControlName="goodsValue" id="goodsValue" maxlength="15" numberOnly></td>
                <td><input type="text" formControlName="taxRate" id="taxRate" maxlength="15" numberOnly></td>
                <td><input type="text" formControlName="taxAmt" id="taxAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'taxAmt')" (blur)="onBlurMoney(i, 'taxAmt')"></td>
                <td><input type="text" formControlName="fineAmt" id="fineAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'fineAmt')" (blur)="onBlurMoney(i, 'fineAmt')"></td>
                <td><input type="text" formControlName="extraAmt" id="extraAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'extraAmt')" (blur)="onBlurMoney(i, 'extraAmt')"></td>
                <td><input type="text" formControlName="sumTaxAmt" id="sumTaxAmt" maxlength="15" class="text-right custom-readonly" readonly></td>
                <td><input type="text" formControlName="fundHealthAmt" id="fundHealthAmt" maxlength="15" class="text-right custom-readonly" readonly></td>
                <td><input type="text" formControlName="fundTVAmt" id="fundTVAmt" maxlength="15" class="text-right custom-readonly" readonly></td>
                <td><input type="text" formControlName="fundSportAmt" id="fundSportAmt" maxlength="15" class="text-right custom-readonly" readonly></td>
                <td><input type="text" formControlName="otherAmt" id="otherAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'otherAmt')" (blur)="onBlurMoney(i, 'otherAmt')"></td>
                <td><input type="text" formControlName="sumAllTaxAmt" id="sumAllTaxAmt" maxlength="15" class="text-right custom-readonly" readonly></td>
                <td><input type="text" formControlName="moiAmt" id="moiAmt" maxlength="15" class="text-right custom-readonly" readonly></td>
                <td><input type="text" formControlName="netTaxAmt" id="netTaxAmt" maxlength="15" class="text-right custom-readonly" readonly></td>
                <td>
                  <i *ngIf="i!=0" class="minus icon" style="color:red;cursor: pointer" (click)="removeItem(i)"></i>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div inline>
      <div field [col]="16">
        <a href="javascript:void(0)" (click)="addItem()"><i class="plus icon" style="color:green;"></i>เพิ่ม</a>
      </div>
    </div>
    <div grid>
      <div field [col]="2">
        <label class="text-right full-width">หมายเหตุ</label>
      </div>
      <div field [col]="14">
        <p>
          ๑. สสส. คือ เงินบำรุงกองทุนสนับสนุนการสร้างเสริมสุขภาพ ร้อยละ ๒<br>
          ๒. สสท. คือ เงินบำรุงองค์การกระจายเสียงและแพร่ภาพสาธารณะแห่งประเทศไทย ร้อยละ ๑.๕<br>
          ๓. กกท. คือ เงินบำรุงกองทุนการกีฬาแห่งประเทศไทย ร้อยละ ๒<br>
          ๔. อื่น ๆ (ถ้ามี)
        </p>
      </div>
    </div>
    <br>
    <br>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <p>เหตุผลที่ประเมิน (๑. ข้อเท็จจริงอันเป็นสาระสำคัญ ๒. ข้อกฎหมายที่อ้างอิง ๓. ข้อพิจารณาและข้อสนับสนุนในการใช้ดุลพินิจ)</p>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <textarea formControlName="reasonText" id="reasonText" rows="4" maxlength="400"></textarea>
      </div>
    </div>
  </div>
  <form form [formGroup]="formGroup">
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อเจ้าหน้าที่ผู้ประเมิน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signOfficerFullName1" id="signOfficerFullName1" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อเจ้าหน้าที่ผู้เตรียมแบบ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="signOfficerFullName2" id="signOfficerFullName2" maxlength="100">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">วันที่ประเมิน :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarSignOfficerDate1">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="signOfficerDate1" id="signOfficerDate1" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
      <div field [col]="4">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">วันที่เตรียมแบบ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarSignOfficerDate2">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="signOfficerDate2" id="signOfficerDate2" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- ui grid -->
    <div class="ui grid">
      <!-- Left Column -->
      <div field [col]="2">
        <label class="text-right full-width">หมายเหตุ</label>
      </div>
      <!-- Right Column -->
      <div field [col]="14">
        <div inline>
          <div field [col]="16">
            <p>
              ๑. ถ้าผู้มีหน้าที่เสียภาษีเห็นว่า การประเมินของพนักงานเจ้าหน้าที่ไม่ชอบด้วยกฎหมาย จำนวนเงินภาษีที่ประเมินไว้ไม่ถูกต้อง
              หรือเหตุอื่นใดอันเป็นเหตุให้ไม่ต้องรับผิดในการเสียภาษีตามการประเมินของพนักงานเจ้าหน้าที่ ให้มีสิทธิอุทธรณ์ต่อคณะกรรมการพิจารณาอุทธรณ์
              ตามมาตรา ๙๔ ภายในสามสิบวันนับแต่วันที่ได้รับแจ้งการประเมิน โดยยื่นอุทธรณ์ตามหลักเกณฑ์และวิธีการที่อธิบดีประกาศกำหนด
              ตามความในมาตรา ๙๓ แห่งพระราชบัญญัติภาษีสรรพสามิต พ.ศ. ๒๕๖๐
            </p>
          </div>
        </div>
        <div inline>
          <div field [col]="3">
            <p>๒. เงินเพิ่มได้คำนวณไว้ถึงวันที่ :</p>
          </div>
          <div field [col]="2">
            <div class="ui calendar" style="width: 100%" id="calendarExtraMoneyDate">
              <div class="ui input left icon">
                <i class="calendar alter nate outline icon"></i>
                <input type="calendar" formControlName="extraMoneyDate" id="extraMoneyDate" placeholder="วว ดดดด ปปปป"
                  [attr.required]="true" autocomplete="off">
              </div>
            </div>
          </div>
          <div field [col]="11">
            <p>ถ้าชำระภายหลังจากวันดังกล่าว ผู้มีหน้าที่เสียภาษีต้องเสียเงินเพิ่มเพิ่มอีกร้อยละ ๑.๕ ต่อเดือนหรือเศษของเดือน</p>
          </div>
        </div>
        <div inline>
          <div field [col]="16">
            <p>และถ้าไม่ชำระภาษีสรรพสามิตภายในกำหนดสามสิบวัน นับแต่วันที่ได้รับแจ้งการประเมิน พนักงานเจ้าหน้าที่จะดำเนินการตามมาตรา ๑๔๓ แห่งพระราชบัญญัติภาษีสรรพสามิต พ.ศ. ๒๕๖๐ ต่อไป</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)"></app-button-footer-report>
  </form>
</segment>