<segment header="สมุดทะเบียนควบคุมการตรวจสอบภาษีสรรพสามิต (สตป./ภาค) (ตส. ๐๓-๐๓)" [loading]="loading" [right]="true">
  <div headRight>
    {{formTS0303.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formTS0303">
    <div inline>
      <div field [col]="16">
        <table class="  ui small celled nowrap table striped selectable scrollX" style="width:100%;">
          <thead>
            <tr style="text-align: center !important">
              <th rowspan="2">ลำดับ<br>ที่</th>
              <th colspan="3">ผู้ถูกตรวจสอบ</th>
              <th colspan="2">หนังสือขออนุมัติ</th>
              <th colspan="2">หนังสือแจ้งการอนุมัติ</th>
              <th colspan="2">หนังสือเรียก</th>
              <th rowspan="2" colspan="3">ช่วงเวลาที่ตรวจสอบ</th>
              <th colspan="2">หนังสือแจ้งผลการตรวจสอบ</th>
              <th colspan="5">ผลการตรวจสอบภาษี</th>
              <th rowspan="2">การประเมินตามคำชี้ขาด<br>ของจำนวนเงิน</th>
              <th rowspan="2">ลงนามผู้บันทึก</th>
              <th rowspan="2">ลงวันที่</th>
              <th rowspan="2">หมายเหตุ</th>
              <th rowspan="2">#</th>
            </tr>
            <tr style="text-align: center !important">

              <th>ชื่อผู้เสียภาษี</th>
              <th>ทะเบียนสรรพสามิต</th>
              <th>ประเภท<br>สินค้า/บริการ</th>

              <th>เลขที่</th>
              <th>ลงวันที่</th>

              <th>เลขที่</th>
              <th>ลงวันที่</th>

              <th>เลขที่</th>
              <th>ลงวันที่</th>

              <th>เลขที่</th>
              <th>ลงวันที่</th>

              <th>ภาษีสรรพสามิต</th>
              <th>เบี้ยปรับ</th>
              <th>เงินเพิ่ม</th>
              <th>ภาษีเพื่อราชการส่วนท้องถิ่น</th>
              <th>รวมเงิน</th>
            </tr>
          </thead>
          <tbody formArrayName="taFormTS0303DtlVoList">
            <ng-container *ngIf="formTS0303.controls">
              <tr [formGroupName]="i"
                *ngFor="let item of formTS0303.controls.taFormTS0303DtlVoList.controls; let i = index;let first = first;let last = last">
                <td class="ui  transparent input">
                  <input type="text" class="text-center" formControlName="recNo" value="{{i+1}}" readonly>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="ownerFullName"
                      id="ownerFullName" maxlength="100">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="newRegId" id="newRegId" maxlength="17">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="factoryTypeText"
                      id="factoryTypeText" maxlength="100">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-center width-td100-ts" formControlName="reqDocNo" id="reqDocNo" maxlength="40">
                  </div>
                </td>
                <td>
                  <div class="ui transparent input" id="reqDocDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="reqDocDate"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-center width-td100-ts" formControlName="informDocNo"
                      id="informDocNo" maxlength="40">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input" id="informDocDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="informDocDate"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-center width-td100-ts" formControlName="callDocNo" id="callDocNo" maxlength="40">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input" id="callDocDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="callDocDate"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input" id="auditDateStart{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="auditDateStart"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <label class="text-center">ถึง</label>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input " id="auditDateEnd{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="auditDateEnd"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-center width-td100-ts" formControlName="resultDocNo"
                      id="resultDocNo" maxlength="40">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input" id="resultDocDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="resultDocDate"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts" formControlName="resultTaxAmt"
                      id="resultTaxAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'resultTaxAmt')" (blur)="onBlurMoney(i, 'resultTaxAmt')">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts" formControlName="resultFineAmt"
                      id="resultFineAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'resultFineAmt')" (blur)="onBlurMoney(i, 'resultFineAmt')">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts" formControlName="resultExtraAmt"
                      id="resultExtraAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'resultExtraAmt')" (blur)="onBlurMoney(i, 'resultExtraAmt')">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts custom-readonly" formControlName="resultMoiAmt"
                      id="resultMoiAmt" maxlength="15" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts custom-readonly" formControlName="resultNetTaxAmt"
                      id="resultNetTaxAmt" maxlength="15" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts" formControlName="assessmentAmt"
                      id="assessmentAmt" maxlength="15" numberOnly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="officerFullName"
                      id="officerFullName" maxlength="100">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input" id="officerDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="officerDate"
                      id="officerDate" placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="officerComment"
                      id="officerComment" maxlength="100">
                  </div>
                </td>

                <td class="text-center">
                  <i *ngIf="!first && last" class="minus icon" style="color:red;cursor: pointer" (click)="removeListItem(i)"></i>
                </td>
              </tr>
            </ng-container>
          </tbody>

        </table>
      </div>
    </div>

    <div inline>
      <div field [col]="1">
        <a href="javascript:void(0)" (click)="addListItem()"><i class="plus icon" style="color:green;"></i>เพิ่ม</a>
      </div>
    </div>

    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>

</segment>