<segment header="สมุดทะเบียนควบคุมการตรวจสอบภาษีสรรพสามิตรายตัวผู้เสียภาษี (พื้นที่) (ตส. ๐๓-๐๒)" [loading]="loading"
  [right]="true">
  <div headRight>
    {{formTS0302.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formTS0302">
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">เจ้าของหรือผู้จัดการ/<br>กรรมการผู้จัดการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="ownerName" id="ownerName" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">เลขทะเบียนสรรพสามิต :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="newRegId" id="newRegId" maxlength="17">
      </div>
      <div field [col]="1">
        <app-button-custom [icon]="'search'" (click)="searchNewRegId()"></app-button-custom>
      </div>
    </div>

    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อโรงอุตสาหกรรม/<br>สถานบริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryName" id="factoryName" maxlength="200">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ประเภทสินค้า/บริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryTypeText" id="factoryTypeText" maxlength="100">
      </div>
    </div>

    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ที่อยู่เลขที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facAddrNo" id="facAddrNo" maxlength="35">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ตรอก/ซอย :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facSoiName" id="facSoiName" maxlength="50">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ถนน :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facThnName" id="facThnName" maxlength="50">
      </div>
    </div>

    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ตำบล/แขวง :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facTambolSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facTambolName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div field [col]="1">
        <label class="text-right full-width">อำเภอ/เขต :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facAmphurSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facAmphurName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div field [col]="1">
        <label class="text-right full-width">จังหวัด :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facProvinceSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facProvinceName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
      </div>
    </div>

    <div inline>
      <div field [col]="16">
        <table class="  ui small celled nowrap table striped selectable scrollX" style="width:100%;">
          <thead>
            <tr style="text-align: center !important">
              <th rowspan="2">ตรวจ<br>ครั้งที่</th>
              <th colspan="2">ผู้ดำเนินการ</th>
              <th colspan="2">หนังสือเรียก</th>
              <th rowspan="2" colspan="3">ช่วงเวลาที่ตรวจสอบ</th>
              <th rowspan="2" style="text-align: left !important">- ส่งตรวจสอบ<br>- โอน<br>- ระงับ</th>
              <th rowspan="2">ลงวันที่</th>
              <th colspan="2">หนังสือแจ้งผลการตรวจสอบ</th>
              <th colspan="5">ผลการตรวจสอบภาษี</th>
              <th rowspan="2">การประเมินตามคำชี้ขาด<br>ของจำนวนเงิน</th>
              <th rowspan="2">ลงนามผู้บันทึก</th>
              <th rowspan="2">วัน/เดือน/ปี</th>
              <th rowspan="2">หมายเหตุ</th>
              <th rowspan="2">#</th>
            </tr>
            <tr style="text-align: center !important">
              <th>หน่วยงานที่ตรวจสอบ</th>
              <th>ผู้ตรวจสอบ</th>

              <th>เลขที่</th>
              <th>ลงวันที่</th>

              <th>เลขที่</th>
              <th>ลงวันที่</th>

              <th>ภาษีสรรพสามิต</th>
              <th>เบี้ยปรับ</th>
              <th>เงินเพิ่ม</th>
              <th>ภาษีเพื่อราชการส่วนท้องถิ่น</th>
              <th>รวมเงิน</th>
            </tr>
          </thead>
          <tbody formArrayName="taFormTS0302DtlVoList">
            <ng-container *ngIf="formTS0302.controls">
              <tr [formGroupName]="i"
                *ngFor="let item of formTS0302.controls.taFormTS0302DtlVoList.controls; let i = index;let first = first;let last = last">
                <td class="ui  transparent input">
                  <input type="text" class="text-center" formControlName="auditNo" value="{{i+1}}" readonly>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left" formControlName="operatorOfficeName" id="operatorOfficeName"
                      maxlength="100">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="operatorFullName"
                      id="operatorFullName" maxlength="100">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-center width-td100-ts" formControlName="refDocNo" id="refDocNo"
                      maxlength="40">
                  </div>
                </td>
                <td>
                  <div class="ui transparent input" id="refDocDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="refDocDate"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input" id="auditDateStart{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="auditDateStart"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <label class="text-center">ถึง</label>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input " id="auditDateEnd{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="auditDateEnd"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="auditStatus" id="auditStatus"
                      maxlength="20">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input " id="auditStatusDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="auditStatusDate"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-center width-td100-ts" formControlName="resultDocNo" id="resultDocNo"
                      maxlength="40">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input" id="resultDocDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="resultDocDate"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" calendar>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts" formControlName="resultTaxAmt"
                      id="resultTaxAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'resultTaxAmt')"
                      (blur)="onBlurMoney(i, 'resultTaxAmt')">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts" formControlName="resultFineAmt"
                      id="resultFineAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'resultFineAmt')"
                      (blur)="onBlurMoney(i, 'resultFineAmt')">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts" formControlName="resultExtraAmt"
                      id="resultExtraAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'resultExtraAmt')"
                      (blur)="onBlurMoney(i, 'resultExtraAmt')">
                  </div>
                </td>

                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts custom-readonly" formControlName="resultMoiAmt"
                      id="resultMoiAmt" maxlength="15" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts custom-readonly"
                      formControlName="resultNetTaxAmt" id="resultNetTaxAmt" maxlength="15" readonly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-right width-td100-ts" formControlName="assessmentAmt"
                      id="assessmentAmt" maxlength="15" numberOnly>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="officerFullName"
                      id="officerFullName" maxlength="100">
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input" id="officerDate{{i}}">
                    <input type="calendar" class="text-center width-td100-ts" formControlName="officerDate"
                      placeholder="วว ดดดด ปปปป" autocomplete="off" calendar>
                  </div>
                </td>
                <td>
                  <div class="ui  transparent input">
                    <input type="text" class="text-left width-td100-ts" formControlName="officerComment"
                      id="officerComment" maxlength="100">
                  </div>
                </td>

                <td class="text-center">
                  <i *ngIf="!first && last" class="minus icon" style="color:red;cursor: pointer"
                    (click)="removeListItem(i)"></i>
                </td>
              </tr>
            </ng-container>
          </tbody>

        </table>
      </div>
    </div>



    <div inline>
      <div field [col]="1">
        <a href="javascript:void(0)" (click)="addListItem()"><i class="plus icon" style="color:green;"></i>เพิ่ม</a>
      </div>
    </div>

    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>

</segment>