<segment header="ขออนุมัติออกหนังสือเรียก (ตส. ๐๑-๐๒) " [loading]="loading" [right]="true">
  <div headRight>
    {{formGroup.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formGroup">
    <div inline>
    </div>
    <div class="ui grid">
      <!-- Left Column -->
      <div field [col]="8">
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ที่ :</label>
          </div>
          <div field [col]="10">
            <input type="text" formControlName="bookNumber1" id="bookNumber1" maxlength="20">
            <label class="text-center" style=" width:20%">/</label>
            <input type="text" formControlName="bookNumber2" id="bookNumber2" maxlength="20">
          </div>
          <div field [col]="2">
          </div>
        </div>
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ด้วย :</label>
          </div>
          <div field [col]="12">
            <input type="text" formControlName="docFrom" id="docFrom" maxlength="100">
          </div>
        </div>
      </div>
      <!-- Right Column -->
      <div field [col]="8">
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">เรียน :</label>
          </div>
          <div field [col]="12">
            <input type="text" formControlName="docDear" id="docDear" maxlength="100">
          </div>
        </div>
        <div inline>
          <div field [col]="16">
            <label class="text-left full-width">มีความประสงค์จะทำการออกหนังสือเรียก</label>
          </div>
        </div>
      </div>
    </div>
    <div inline>
    </div>
    <div class="ui grid">
      <div field [col]="16">
        <div inline>
          <div field [col]="2">
            <label class="text-right full-width">ราย :</label>
          </div>
          <div field [col]="14">
            <input type="text" formControlName="docText1" id="docText1" maxlength="100">
          </div>
        </div>
      </div>
    </div>
    <div inline>
    </div>
    <div inline>
    </div>
    <div class="ui grid">
      <!-- Left Column -->
      <div field [col]="8">
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">เลขทะเบียนสรรพสามิต :</label>
          </div>
          <div field [col]="11">
            <input type="text" formControlName="newRegId" id="newRegId" maxlength="17">
          </div>
          <div field [col]="1">
            <app-button-custom [icon]="'search'" (click)="searchNewRegId()"></app-button-custom>
          </div>
        </div>
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ประเภทกิจการ :</label>
          </div>
          <div field [col]="4">
            <div class="ui radio checkbox">
              <input type="radio" formControlName="companyType" id="companyType" value="1">
              <label>โรงอุตสาหกรรม</label>
            </div>
          </div>
          <div field [col]="4">
            <div class="ui radio checkbox">
              <input type="radio" formControlName="companyType" id="companyType" value="2">
              <label>สถานบริการ</label>
            </div>
          </div>
          <div field [col]="4">
            <div class="ui radio checkbox">
              <input type="radio" formControlName="companyType" id="companyType" value="3">
              <label>สถานประกอบการ</label>
            </div>
          </div>
        </div>
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">รอบระยะเวลา<br>ที่ตรวจสอบ :</label>
          </div>
          <div field [col]="10">
            <div class="ui calendar" style="width: 100%" id="calendarAuditDateStart">
              <div class="ui input left icon">
                <i class="calendar alter nate outline icon"></i>
                <input type="calendar" formControlName="auditDateStart" id="auditDateStart" placeholder="วว ดดดด ปปปป"
                  [attr.required]="true" autocomplete="off">
              </div>
            </div>
            <label class="text-center" style=" width:30%"> ถึง </label>
            <div class="ui calendar" style="width: 100%" id="calendarAuditDateEnd">
              <div class="ui input left icon">
                <i class="calendar alter nate outline icon"></i>
                <input type="calendar" formControlName="auditDateEnd" id="auditDateEnd" placeholder="วว ดดดด ปปปป"
                  [attr.required]="true" autocomplete="off">
              </div>
            </div>
          </div>
          <div field [col]="2">
          </div>
        </div>
      </div>
      <!-- Right Column -->
      <div field [col]="8">
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ชื่อโรงอุตสาหกรรม/<br>สถานบริการ :</label>
          </div>
          <div field [col]="12">
            <input type="text" formControlName="factoryName" id="factoryName" maxlength="200">
          </div>
        </div>
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ที่อยู่โรงอุตสาหกรรม/<br>สถานบริการ :</label>
          </div>
          <div field [col]="12">
            <textarea style="resize: none" id="factoryAddress" formControlName="factoryAddress" rows="4"
              maxlength="500"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div inline>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">กรณี :</label>
      </div>
      <div field [col]="14">
        <textarea formControlName="auditCase" id="auditCase" rows="4" maxlength="200"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <p>จึงเรียนมาเพื่อโปรดดำเนินการตรวจสอบทะเบียนควบคุมการตรวจสอบภาษีสรรพสามิต และแจ้งผลการตรวจสอบให้ทราบด้วย</p>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="signOfficerFullName" id="signOfficerFullName" maxlength="100">
        <app-button-custom [icon]="'search'" (click)="searchModalOpen(1)"></app-button-custom>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="signOfficerPosition" id="signOfficerPosition" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">วันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarSignOfficerDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="signOfficerDate" id="signOfficerDate" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">เรียน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="regDear" id="regDear" maxlength="100">
      </div>
      <div field [col]="4">
        <label class="text-left full-width">(หน่วยงานที่ขอให้ตรวจสอบทะเบียนควบคุม)</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <p>๑. ได้ตรวจสอบทะเบียนควบคุมการตรวจสอบภาษีสรรพสามิตแล้วปรากฏว่า :</p>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="14">
        <textarea style="resize: none;" formControlName="regText" id="auditCase" rows="4" maxlength="200"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="signRegFullName" id="signRegFullName" maxlength="100">
        <app-button-custom [icon]="'search'" (click)="searchModalOpen(2)"></app-button-custom>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="signRegPosition" id="signRegPosition" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">วันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarSignRegDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="signRegDate" id="signRegDate" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
      </div>
      <div field [col]="1">
        <p>๒. คำสั่ง :</p>
      </div>
      <div field [col]="1" style="margin-left:20px;">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="comdTypeFlag" id="comdTypeFlag" value="1">
          <label>อนุมัติ</label>
        </div>
      </div>
      <div field [col]="12">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="comdTypeFlag" id="comdTypeFlag" value="2">
          <label>ดำเนินการตามที่เจ้าหน้าที่ทะเบียนควบคุมการตรวจสอบภาษีสรรพสามิตเสนอ</label>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="signComdFullName" id="signComdFullName" maxlength="100">
        <app-button-custom [icon]="'search'" (click)="searchModalOpen(3)"></app-button-custom>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="signComdPosition" id="signComdPosition" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">วันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarSignComdDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="signComdDate" id="signComdDate" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ที่ :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="financeBookNumber1" id="financeBookNumber1" maxlength="20">
        <label class="text-center" style=" width:20%">/</label>
        <input type="text" formControlName="financeBookNumber2" id="financeBookNumber2" maxlength="20">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">เรียน :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="financeDear" id="financeDear" maxlength="100">
      </div>
      <div field [col]="2">
        <p>เพื่อดำเนินการ</p>
      </div>
    </div>

    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="signFinanceFullName" id="signFinanceFullName" maxlength="100">
        <app-button-custom [icon]="'search'" (click)="searchModalOpen(4)"></app-button-custom>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ตำแหน่ง :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="signFinancePosition" id="signFinancePosition" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">วันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarSignFinanceDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="signFinanceDate" id="signFinanceDate" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>
</segment>

<ui-modal [id]="'searchModal'" type="custom" size="large">
  <div class="ui header">
    ค้นหารายชื่อ
  </div>
  <br>
  <!-- <form form [formGroup]="formSearchModal">
    </form> -->

  <div grid>
    <div [column]="16">
      <table class="ui small celled table nowrap striped selectable" style="width:100%" id="tableModal">
        <thead class="text-center">
          <tr>
            <th class="text-left">ลำดับ</th>
            <th class="text-left">ชื่อ-นามสกุล</th>
            <th class="text-left">ตำแหน่ง</th>
          </tr>
        </thead>
      </table>
      <br>
    </div>
  </div>

  <div class="actions">
    <app-button-cancel class="deny"></app-button-cancel>
  </div>
</ui-modal>