<with-breadcrumb [breadcrumb]="breadcrumb">
  <segment header="รายการคัดเลือกราย (TA0106)" [loading]="loading" [right]="true">
    <div class="ui form">
      <div inline>
        <div field [col]="3">
          <label class="text-right full-width">ช่วงเดือนภาษี</label>
        </div>
        <div field [col]="4">
          <input class="custom-readonly" id="before" value="มกราคม 2561" placeholder="ดด/ปปปป" readonly="" type="text"
            value="{{objMonth.yearMonthStart}}">
          ถึง&nbsp;&nbsp;&nbsp;
          <input class="custom-readonly" id="last" value="มกราคม 2563" placeholder="ดด/ปปปป" readonly="" type="text"
            value="{{objMonth.yearMonthEnd}}">
        </div>
        <div field [col]="2">
          <!-- <label class="text-right full-width">สำนักงานสรรพสามิตภาค</label> -->
          <label class="text-right full-width">เลขที่รายการคัดเลือกราย</label>
        </div>
        <div field [col]="2">
          {{anlNumber}}
        </div>
        <div field [col]="1">
          <label class="text-right full-width">สำนักงาน</label>
        </div>
        <div field [col]="4">
            {{sector.deptShortName}}
        </div>
        <!-- <div field [col]="1">
            </div> -->
      </div>
      <br>
      <div class="ui center aligned grid">
          <div class="eight wide column">
             <app-button-custom (click)="onSave()">ยืนยันการคัดเลือก</app-button-custom> 
              <!-- <app-button-custom (click)="onSave()" [disabled]="isChild" >{{buttonName}}</app-button-custom>  -->
              <app-button-clear (click)="clear()"></app-button-clear>
              <app-button-custom (click)="export()" [color]="'yellow'" [icon]="'print'" text="Export"></app-button-custom>
              <app-button-custom (click)="initTotal()"  text="สรุปตามพิกัด"></app-button-custom>
              <app-button-back routerLink="/tax-audit-new/ta01/05"></app-button-back>
          </div>
        </div>

    </div>

    <div headRight>
      <!-- <app-button-export (click)="export()"></app-button-export>
      <app-button-custom (click)="onSave()" [disabled]="disabledButton1">ยืนยันการคัดเลือก</app-button-custom> -->
    </div>

    <div class="ui grid" *ngIf="!isTotal">
      <div class="sixteen wide column">
        <table class="ui small celled table nowrap striped selectable" style="width:100%" id="tablePlan">
          <thead class="text-center">
            <tr>
              <th class="text-center"></th>
              <th class="text-center">ในแผน</th>
              <th class="text-center">สำรอง</th>
              <th class="text-center">ลำดับ</th>
              <th class="text-center">เลขทะเบียนสรรพสามิต</th>
              <th class="text-center">ชื่อผู้ประกอบการ</th>
              <th class="text-center">ชื่อโรงอุตสาหกรรม/สถานบริการ</th>
              <!-- <th class="text-center">ที่อยู่โรงอุตสาหกรรม/สถานบริการ</th> -->
              <th class="text-center">ภาค</th>
              <th class="text-center">พื้นที่</th>
              <th class="text-center">พิกัด</th>
              <th class="text-center">ผู้คัดเลือก</th>
              <th class="text-center">วันที่คัดเลือก</th>
            </tr>
          </thead>
        </table>
        <br>
      </div>
    </div>
    <div class="ui grid" *ngIf="isTotal">
      <div class="three wide column"></div>
      <div class="nine wide column">
        <table class="ui small celled table nowrap striped selectable" style="width:100%" id="tableTotalPlan">
          <thead class="text-center">
            <tr>
              <th rowspan="2" class="text-center">ประเภทสินค้า/บริการ</th>
              <th colspan="3" class="text-center">จำนวนผู้ประกอบการ</th>
              <th rowspan="2" class="text-center">รวม(ราย)</th>
            </tr>
            <tr>
                <th class="text-center">ในแผน</th>
                <th class="text-center">สำรอง</th>
                <th class="text-center">เพิ่มราย</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="text-center">ในแผน</td>
                  <td class="text-center">สำรอง</td>
                  <td class="text-center">เพิ่มราย</td>
              </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
    
    <ui-modal [id]="'tableModal'" type="custom" size="small">
      <div class="ui header">
        รายละเอียดผู้ประกอบการ : {{details.facFullname}}
      </div>
      <div class="content">
        <p><b>ที่อยู่ :</b> {{details.facAddress}}</p>
        <p><b>สถานะ/วันที่ :</b> {{details.regStatus}} {{ resDateText }} </p>
        <p><b>เลขทะเบียนสรรพสามิตเก่า :</b> {{details.oldRegId}}</p>
        <p><b>พิกัดสินค้า/บริการ :</b> {{details.multiDutyFlag === 'Y' ? details.multiDutyDesc : details.dutyName}}</p>
        <p><b>วันที่ปรับปรุงข้อมูลล่าสุด :</b> {{details.syncDate}} </p>
      </div>
      <div class="actions">
        <app-button-custom class="deny" [color]="'gray'" [icon]="'remove'" text="ปิด"></app-button-custom>
      </div>
    </ui-modal>
    
  </segment>
</with-breadcrumb>