<segment header="สรุปรายงานผลการตรวจสอบภาษีสรรพสามิต (ตส. ๐๔-๒๔)" [loading]="loading" [right]="true">
  <div headRight>
    {{formGroup0424.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formGroup0424">
    <div inline>
      <div field [col]="1">
        <label class="text-right full-width">ของ :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="factoryName" maxlength="200">
      </div>

      <div field [col]="2">
        <label class="text-right full-width">ตั้งแต่เดือน :</label>
      </div>
      <div field [col]="5">
        <select style="width: 100%" class="ui search dropdown ai" required formControlName="auditMonthStart">
          <option value="" style="color: grey">เลือกเดือน</option>
          <option *ngFor="let month of monthTypeList; let i = index" value="{{month.paramCode}}">
            {{month.value1}}
          </option>
        </select>
        <label class="text-center" style=" width:30%">ถึง</label>
        <select style="width: 100%" class="ui search dropdown ai" required formControlName="auditMonthEnd">
          <option value="" style="color: grey">เลือกเดือน</option>
          <option *ngFor="let month of monthTypeList; let i = index" value="{{month.paramCode}}">
            {{month.value1}}
          </option>
        </select>
      </div>
      <div field [col]="1">
        <label class="text-right full-width">พ.ศ.</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="auditYear">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" placeholder="ปปปป" autocomplete="off" formControlName="auditYear">
          </div>
        </div>
      </div>
    </div>


    <!-- Table -->
    <table class="  ui small celled nowrap table striped selectable   scrollX" style="width:101%">
      <thead>
        <tr style="text-align: center !important">
          <th rowspan="2">ลำดับที่</th>
          <th colspan="2">หน่วยงานที่ขออนุมัติตรวจสอบภาษี</th>
          <th colspan="3">ผู้เสียภาษี</th>
          <th colspan="5">อนุมัติออกหนังสือเรียก</th>
          <th colspan="5">ผลการตรวจสอบภาษี</th>
          <th rowspan="2">เรื่องตกค้างเมื่อสิ้นงวด (ราย)</th>
          <th rowspan="2">หมายเหตุ</th>
          <th rowspan="2">#</th>
        </tr>
        <tr style="text-align: center !important">
          <th>ฝ่ายตรวจสอบ</th>
          <th>ผู้ตรวจสอบ</th>
          <th>ชื่อผู้เสียภาษี</th>
          <th>ทะเบียนสรรพสามิต</th>
          <th>ประเภทสินค้า/บริการ</th>
          <th>เลขที่</th>
          <th>วันที่อนุมัติ</th>
          <th colspan="3">ช่วงเวลาที่ตรวจสอบ</th>
          <th>ภาษีสรรพสามิต</th>
          <th>เบี้ยปรับ</th>
          <th>เงินเพิ่ม</th>
          <th>ภาษีเพื่อราชการส่วนท้องถิ่น</th>
          <th>รวมเงิน</th>
        </tr>
      </thead>
      <tbody formArrayName="taFormTS0424DtlVoList">
        <ng-container *ngIf="formGroup0424.controls">
          <tr [formGroupName]="i"
            *ngFor="let item of formGroup0424.controls.taFormTS0424DtlVoList.controls; let i = index;let first = first;let last = last">
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="recNo" value="{{i+1}}" readonly>
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="operatorOfficeName" maxlength="100">
              </div>
            </td>

            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="operatorFullName" maxlength="100">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="ownerFullName" maxlength="100">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="newRegId" maxlength="17">
              </div>
            </td>

            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="factoryTypeText" maxlength="100">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="callDocNo" maxlength="40">
              </div>
            </td>
            <td>
              <div class="ui transparent input" id="callDocDate{{i}}">
                <input type="calendar" placeholder="วว ดดดด ปปปป" formControlName="callDocDate">
              </div>
            </td>
            <td>
              <div class="ui transparent input" id="auditDateStart{{i}}">
                <input type="calendar" placeholder="วว ดดดด ปปปป" formControlName="auditDateStart">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <label>ถึง</label>
              </div>
            </td>
            <td>
              <div class="ui transparent input" id="auditDateEnd{{i}}">
                <input type="calendar" placeholder="วว ดดดด ปปปป" formControlName="auditDateEnd">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="taxAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'taxAmt')" (blur)="onBlurMoney(i, 'taxAmt')">
              </div>
            </td>

            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="fineAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'fineAmt')" (blur)="onBlurMoney(i, 'fineAmt')">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="extraAmt" maxlength="15" numberOnly (focus)="onFocusMoney(i, 'extraAmt')" (blur)="onBlurMoney(i, 'extraAmt')">
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input class="text-right custom-readonly" type="text" formControlName="moiAmt" maxlength="15" numberOnly readonly>
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input class="text-right custom-readonly" type="text" formControlName="nettaxAmt" maxlength="15" numberOnly readonly>
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="residueNum" maxlength="3" numberOnly>
              </div>
            </td>
            <td>
              <div class="ui  transparent input">
                <input type="text" formControlName="officerComment" maxlength="100">
              </div>
            </td>
            <td>
              <i *ngIf="!first && last" class="minus icon" style="color:red;cursor: pointer" (click)="removeItem(i)"></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="ui bottom centered attached ">
      <div class="ui left aligned grid">
        <div class="one wide column">
          <a>
            <a href="javascript:void(0)" (click)="addItem()"><i class="plus icon" style="color:green;"></i>เพิ่ม</a>
          </a>
        </div>
      </div>
    </div>
    <br>

    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>
</segment>