<segment header="หนังสือเรียกตามพระราชบัญญัติภาษีสรรพสามิต พ.ศ. ๒๕๖๐ (ตส. ๐๑-๐๓)" [loading]="loading" [right]="true">
  <div headRight>
    {{formGroup.get('formTsNumber').value}}
  </div>

  <form form [formGroup]="formGroup">
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="bookNumber1" id="bookNumber1" maxlength="20">
        <label class="text-center" style=" width:20%">/</label>
        <input type="text" formControlName="bookNumber2" id="bookNumber2" maxlength="20">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">สำนัก :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="officeName1" id="officeName1" maxlength="100">
      </div>
      <div field [col]="1">
        <app-button-custom [icon]="'search'" (click)="searchSubject()"></app-button-custom>
      </div>
      <div field [col]="1">
        <label class="text-right full-width">วันที่เอกสาร :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarDocDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="docDate" id="docDate" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">หนังสือเรียกมายัง :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="docDear" id="docDear" maxlength="100">
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ประเภทกิจการ :</label>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" id="factoryType" value="1">
          <label>โรงอุตสาหกรรม</label>
        </div>
      </div>
      <div field [col]="2">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" id="factoryType" value="2">
          <label>สถานบริการ</label>
        </div>
      </div>
      <div field [col]="3">
        <div class="ui radio checkbox">
          <input type="radio" formControlName="factoryType" id="factoryType" value="3">
          <label>สถานประกอบการผู้นำเข้า</label>
        </div>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">เลขทะเบียนสรรพสามิต :</label>
      </div>
      <div field [col]="5">
        <input type="text" formControlName="newRegId" id="newRegId" maxlength="17">
      </div>
      <div field [col]="1">
        <app-button-custom [icon]="'search'" (click)="searchNewRegId()"></app-button-custom>
      </div>
      <div field [col]="2">
        <label class="text-right full-width">ชื่อโรงอุตสาหกรรม/<br>สถานบริการ :</label>
      </div>
      <div field [col]="6">
        <input type="text" formControlName="factoryName" id="factoryName" maxlength="200">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">สถานที่ตั้งเลขที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facAddrNo" id="facAddrNo" maxlength="35">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ตรอก/ซอย :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facSoiName" id="facSoiName" maxlength="50">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ถนน :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facThnName" id="facThnName" maxlength="100">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ตำบล/แขวง :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facTambolSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facTambolName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facTambolName" id="facTambolName" maxlength="100"> -->
      </div>
      <div field [col]="1">
        <label class="text-right full-width">อำเภอ/เขต :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facAmphurSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facAmphurName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facAmphurName" id="facAmphurName" maxlength="100"> -->
      </div>
      <div field [col]="1">
        <label class="text-right full-width">จังหวัด :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width facProvinceSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="facProvinceName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="facProvinceName" id="facProvinceName" maxlength="100"> -->
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">รหัสไปรษณีย์ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="facZipCode" id="facZipCode" maxlength="5">
      </div>
    </div>
    <hr>
    <div inline>
      <div field [col]="16">
        <label class="text-left full-width">สถานที่ตั้งสำนักงานใหญ่ตามหนังสือรับรองกระทรวงพาณิชย์</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">เลขที่ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="compAddrNo" id="compAddrNo" maxlength="35">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ตรอก/ซอย :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="compSoiName" id="compSoiName" maxlength="50">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">ถนน :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="compThnName" id="compThnName" maxlength="50">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ตำบล/แขวง :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width compTambolSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="compTambolName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="compTambolName" id="compTambolName" maxlength="100"> -->
      </div>
      <div field [col]="1">
        <label class="text-right full-width">อำเภอ/เขต :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width compAmphurSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="compAmphurName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="compAmphurName" id="compAmphurName" maxlength="100"> -->
      </div>
      <div field [col]="1">
        <label class="text-right full-width">จังหวัด :</label>
      </div>
      <div field [col]="4">
        <div class="ui search full-width compProvinceSearch">
          <div class="ui icon input">
            <input class="prompt" style=" margin-left: 0px;" type="text" formControlName="compProvinceName"
              maxlength="100">
          </div>
          <div class="results"></div>
        </div>
        <!-- <input type="text" formControlName="compProvinceName" id="compProvinceName" maxlength="100"> -->
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">รหัสไปรษณีย์ :</label>
      </div>
      <div field [col]="4">
        <input type="text" formControlName="compZipCode" id="compZipCode" maxlength="5">
      </div>
    </div>
    <hr>
    <br>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ด้วย :</label>
      </div>
      <div field [col]="14">
        <textarea style="resize: none" formControlName="reasonText" id="reasonText" rows="4" maxlength="500"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">อาศัยอำนาจตามความ<br>ในมาตรา :</label>
      </div>
      <div field [col]="2">
        <input type="text" formControlName="lawSection" id="lawSection" maxlength="10">
      </div>
      <div field [col]="1">
        <label class="text-right full-width">หมวด :</label>
      </div>
      <div field [col]="2">
        <input type="text" formControlName="lawGroup" id="lawGroup" maxlength="10">
      </div>
      <div field [col]="9">
        <label class="text-left full-width">แห่งพระราชบัญญัติภาษีสรรพสามิต พ.ศ. 2560 ให้ท่านปฏิบัติ ดังต่อไปนี้</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">(๑) ให้ท่านไป ณ :</label>
      </div>
      <div field [col]="14">
        <input type="text" formControlName="destText" id="destText" maxlength="200">
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">ในวันที่ :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarDestDate">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="destDate" id="destDate" placeholder="วว ดดดด ปปปป"
              [attr.required]="true" autocomplete="off">
          </div>
        </div>
      </div>
      <div field [col]="1">
        <label class="text-right full-width">เวลา :</label>
      </div>
      <div field [col]="2">
        <div class="ui calendar" style="width: 100%" id="calendarDestTime">
          <div class="ui input left icon">
            <i class="calendar alter nate outline icon"></i>
            <input type="calendar" formControlName="destTime" id="destTime" placeholder="00:00" [attr.required]="true"
              autocomplete="off">
          </div>
        </div>
      </div>
      <div field [col]="9">
        <label class="text-left full-width">เพื่อให้ถ้อยคำประกอบการพิจารณาเกี่ยวกับการชำระภาษีสรรพสามิต</label>
      </div>
    </div>
    <div inline>
      <div field [col]="2">
        <label class="text-right full-width">(๒) ให้ท่านนำ :</label>
      </div>
      <div field [col]="14">
        <textarea style="resize: none" formControlName="destDocDesc" id="destDocDesc" rows="4"
          maxlength="200"></textarea>
      </div>
    </div>
    <div inline>
      <div field [col]="1">
      </div>
      <div field [col]="15">
        <p>(๓) ในกรณีที่ท่านไม่สามารถมาพบด้วยตนเองได้ จะมอบอำนาจให้บุคคลที่มีความรู้เกี่ยวกับการดำเนินกิจการและ
          เรื่องภาษีสรรพสามิตเป็นอย่างดีมาทำการแทนก็ได้โดยให้จัดทำหนังสือมอบอำนาจปิดอากรแสตมป์ตามกฎหมาย
          พร้อมสำเนาบัตรประจำตัวประชาชนของผู้มอบและผู้รับมอบ</p>
      </div>
    </div>
    <div inline>
    </div>
    <!-- ui grid -->
    <div class="ui grid">
      <!-- Left Column -->
      <div field [col]="8">
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ชื่อ :</label>
          </div>
          <div field [col]="12">
            <input type="text" formControlName="signOfficerFullName" id="signOfficerFullName" maxlength="100">
            <app-button-custom [icon]="'search'" (click)="searchModalOpen(1)"></app-button-custom>
          </div>
        </div>
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ตำแหน่ง :</label>
          </div>
          <div field [col]="12">
            <input type="text" formControlName="signOfficerPosition" id="signOfficerPosition" maxlength="100">
          </div>
        </div>
      </div>
      <!-- Right Column -->
      <div field [col]="8">
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">หน่วยงาน :</label>
          </div>
          <div field [col]="12">
            <input type="text" formControlName="officeName2" id="officeName2" maxlength="100">
          </div>
        </div>
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">โทร :</label>
          </div>
          <div field [col]="12">
            <input type="text" formControlName="officePhone" id="officePhone" maxlength="20">
          </div>
        </div>
        <div inline>
          <div field [col]="4">
            <label class="text-right full-width">ชื่อผู้รับผิดชอบ :</label>
          </div>
          <div field [col]="12">
            <input type="text" formControlName="headOfficerFullName" id="headOfficerFullName" maxlength="100">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <app-button-footer-report (save)="save($event)" (clear)="clear($event)" (export)="export($event)">
    </app-button-footer-report>
  </form>
</segment>

<ui-modal [id]="'searchModal'" type="custom" size="large">
  <div class="ui header">
    ค้นหารายชื่อ
  </div>
  <br>
  <!-- <form form [formGroup]="formSearchModal">
      </form> -->

  <div grid>
    <div [column]="16">
      <table class="ui small celled table nowrap striped selectable" style="width:100%" id="tableModal">
        <thead class="text-center">
          <tr>
            <th class="text-left">ลำดับ</th>
            <th class="text-left">ชื่อ-นามสกุล</th>
            <th class="text-left">ตำแหน่ง</th>
          </tr>
        </thead>
      </table>
      <br>
    </div>
  </div>

  <div class="actions">
    <app-button-cancel class="deny"></app-button-cancel>
  </div>
</ui-modal>

<!-- modal Department -->
<ui-modal [id]="'modalDepartment'" type="custom" size="large">
  <div class="ui header">
    รายการสำนักงาน
  </div>
  <br>

  <div class="scrolling  content">
    <form form>
      <div inline>
        <div field [col]="1">
        </div>
        <div field [col]="3">
          <div class="ui radio checkbox">
            <input type="radio" id="departmentCheck" name="departmentCheck" (change)="getDepartmentCheck('Y')">
            <label>สำนักงานภายใน</label>
          </div>
        </div>
        <div field [col]="3">
          <div class="ui radio checkbox">
            <input type="radio" id="departmentCheck" name="departmentCheck" (change)="getDepartmentCheck('N')">
            <label>สำนักงานภาค</label>
          </div>
        </div>
      </div>
    </form>
    <table class="ui celled table small" id="tbDepartment" style="width: 100%;">
      <thead>
        <tr>
          <th class="one wide" style="text-align: center !important">ลำดับ</th>
          <th class="two wide" style="text-align: center !important">รหัส</th>
          <th class="nine  wide" style="text-align: center !important">ชื่อ</th>
          <th class="four wide" style="text-align: center !important">ชื่อย่อ</th>
        </tr>
      </thead>
    </table>
  </div>


  <div class="actions">
    <app-button-cancel class="deny"></app-button-cancel>
  </div>
</ui-modal>