<with-breadcrumb [breadcrumb]="breadcrumb">

    <segment header="{{head}}" [loading]="false">
      <div class="ui grid" *ngIf="!isTotal">
        <div class="sixteen wide column">
          <table class="ui small celled table nowrap striped selectable" style="width:100%" id="tablePlan">
            <thead class="text-center">
              <tr>
                <th  class="text-center">ลำดับ</th>
                <th  class="text-center">เลขทะเบียนสรรพสามิต</th>
                <th  class="text-center">ชื่อผู้ประกอบการ</th>
                <th  class="text-center">ชื่อโรงอุตสาหกรรม/สถานบริการ</th>
                <th  class="text-center">ที่อยู่โรงอุตสาหกรรม/สถานบริการ</th>
                <th  class="text-center">ภาค</th>
                <th class="text-center">พื้นที่</th>
                <th class="text-center" >พิกัดสินค้า/บริการ</th>
              </tr>
            </thead>
          </table>
          <br>
        </div>
      </div>
      <div class="ui grid" *ngIf="isTotal">
          <div class="three wide column"></div>
          <div class="nine wide column">
            <table class="ui small celled table nowrap striped selectable" style="width:100%" id="tableTotalPlan">
              <thead class="text-center">
                <tr>
                  <th rowspan="2" class="text-center">ประเภทสินค้า/บริการ</th>
                  <th colspan="3" class="text-center">จำนวนผู้ประกอบการ</th>
                  <th rowspan="2" class="text-center">รวม(ราย)</th>
                </tr>
                <tr>
                    <th class="text-center">ในแผน</th>
                    <th class="text-center">สำรอง</th>
                    <th class="text-center">เพิ่มราย</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-center">ในแผน</td>
                      <td class="text-center">สำรอง</td>
                      <td class="text-center">เพิ่มราย</td>
                  </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      <div class="ui centered grid">
        <app-button-back (click)="clickBack()"></app-button-back>
      </div><br>
    </segment>
  </with-breadcrumb>